@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.876e22b0.woff2)
            format("woff2"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.e17e49fe.woff)
            format("woff"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.9645d39e.otf)
            format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.c6c0fe2b.woff2)
            format("woff2"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.2216ab02.woff)
            format("woff"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.11fc9454.otf)
            format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.12541844.woff2)
            format("woff2"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.fd82943b.woff)
            format("woff"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.c817dbf1.otf)
            format("opentype");
    font-display: swap;
}

body {
    line-height: 1.3;
    word-break: keep-all;
    color: #343a40;
    font-family: pretendard, -apple-system, blinkmacsystemfont, system-ui,
        roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
}
*,
:after,
:before {
    box-sizing: border-box;
}
#root,
body {
    height: 100%;
    overflow: auto;
}

#root,
body,
html {
    margin: 0;
    padding: 0;
}

.AppLayout_container-2g11i {
    overflow-y: auto;
    position: relative;
}

/* 헤더 */
a,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
.AppGNBbar_container-3aaiG {
    height: 72px;
}
.AppGNBbar_container-3aaiG {
    box-shadow: 0 1px 0 0 rgba(10, 22, 70, 0.06);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
}

.StudioLogo_container-2u4Eb {
    padding: 0;
    display: flex;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
}
button {
    color: inherit;
}
button,
input,
span,
textarea {
    font-family: inherit;
}
button {
    background-color: transparent;
}
a,
button {
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.StudioLogo_logo-pXI-Y {
    background-image: url(https://static.wadiz.kr/studio/funding/static/media/wadiz-studio-logo.db1cb560.svg);
    width: 190px;
    height: 21px;
    display: block;
    margin-right: 8px;
    margin-bottom: 4px;
    outline: 0;
    background-size: cover;
}
.StudioLogo_type-2Sksn {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 8px;
    color: #868e96;
}

.StudioStatus_stateBox-21QpO {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4px;
    gap: 4px;
}

.StudioStatus_stateBox-21QpO .StudioStatus_state-2OMTs {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.AppGNBbar_flex--H9Qf {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: flex-start;
}

.AppGNBbar_rightBox-we5_g {
    justify-content: flex-end;

    gap: 24px;
}

.ProjectInfo_container-3jAST {
    padding: 0;
    position: relative;
    margin-right: 0;
}

.ProjectInfo_infoButton-2bg95 {
    height: 37px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    padding: 0 16px;
    width: 100%;
    color: #868e96;
    gap: 4px;
}

.ProjectInfo_infoButton-2bg95 .ProjectInfo_emphasis-1i34c {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.ProjectInfo_infoButton-2bg95 .ProjectInfo_text-3evR- {
    margin-left: 12px;
    color: #495057;
}

.ProjectInfo_infoButton-2bg95[aria-expanded="true"] [class*="withIcon_icon"] {
    transform: rotate(180deg);
}

.ProjectInfo_infoBox-2x8RL {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(33, 37, 41, 0.06),
        0 32px 40px -2px rgba(33, 37, 41, 0.12);
    background-color: #fff;
    width: 280px;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.BlindText_textHidden-1W0aB {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_content-1VmXE:first-of-type {
    margin-top: 0;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_content-1VmXE {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_profileImage-1PLV0 {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background-color: #fff;
    width: 24px;
    height: 24px;
}

.Avatar_avatar-1mOG5 {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
    vertical-align: middle;
}

.Avatar_avatar-1mOG5 > .Avatar_inner-hN779 {
    display: inline-block;
    border: 1px solid #e9ecef;
    border-radius: 100%;
}

.Avatar_avatar-1mOG5 > .Avatar_inner-hN779 > img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
}

img,
video {
    max-width: 100%;
    height: auto;
}

iframe,
img,
video {
    vertical-align: top;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_makerName-KIDrd {
    font-weight: 700;
    overflow-wrap: anywhere;
}

.BlindText_textHidden-1W0aB {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ProjectInfo_stateBox-705_4 {
    flex-wrap: wrap;
}

.ProjectInfo_stateBox-705_4 .ProjectInfo_state-1Aqkt {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.Button_button-35X6_.Button_primary-1vdas.Button_contained-1XlJQ {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_button-35X6_.Button_sm-3vobZ {
    padding: 6px 11px;
    height: 32px;
    font-size: 14px;
}

.Button_button-35X6_.Button_block-3y0pW {
    width: 100%;
}

.Button_button-35X6_ {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    -webkit-appearance: none;
}

.Button_button-35X6_ span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button-35X6_.Button_sm-3vobZ svg.Button_icon-2I54k:first-child {
    margin-right: 4px;
}

.Button_button-35X6_.Button_sm-3vobZ svg.Button_icon-2I54k {
    width: 16px;
    height: 16px;
}

.Button_button-35X6_ span svg {
    display: inline-block;
}

.Button_button-35X6_ .Button_children-1TD4r {
    vertical-align: top;
}

.AnnouncementButton_container-1p1gr {
    display: flex;
    position: relative;
    transition: background-color 0.3s;
    border-radius: 8px;
    cursor: pointer;
}

.AnnouncementButton_icon-29AtY {
    padding: 4px;
}

.AnnouncementButton_badge-2Jq25 {
    position: absolute;
    top: 0;
    right: 0;
}
.Badge_container-3exWO {
    flex-shrink: 0;
    vertical-align: middle;
}

.PreviewExitButtons_container-1R35v {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"]:first-child {
    border-radius: 4px 0 0 4px;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    border-color: #e9ecef;
    padding: 8px 24px;
    height: auto;
    color: #495057;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"]:last-child {
    border-radius: 0 4px 4px 0;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"]
    ~ .PreviewExitButtons_button-2tixf {
    margin-left: -1px;
    border-left: 1px solid #e9ecef;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    border-radius: 0;
    border-color: #e9ecef;
    padding: 8px 24px;
    height: auto;
    color: #495057;
}

/* 사이드 바 */
.AppLayout_container-2g11i .AppLayout_main-3h4EB {
    display: flex;
    padding-top: 72px;
    height: 100%;
}

.AppNavbarLayout_container-1zFQR.AppNavbarLayout_expand-12bTj {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 240px;
}

.AppNavbarLayout_container-1zFQR {
    position: relative;
    transform: none;
    transition: width 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    width: 0;
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.AppNavbarLayout_content-2agCV {
    padding-bottom: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.MenuItems_section-qApp6 {
    padding: 0;
}

.MenuItems_menu-QgJck.MenuItems_hasSubmenu-1EhTS {
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.MenuItems_menu-QgJck {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
}

.MenuItems_menu-QgJck .MenuItems_label-2ceJf {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #495057;
    gap: 12px;
}

.MenuItems_active-tDqWg .MenuItems_label-2ceJf {
    color: #212529;
    font-weight: 700;
}

.MenuItems_menu-QgJck .MenuItems_label-2ceJf svg {
    width: 16px;
    height: 16px;
}

.withIcon_icon-2IQiS {
    display: block;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    fill: currentColor;
}

.MenuItems_menu-QgJck.MenuItems_hasSubmenu-1EhTS
    .MenuItems_downIcon-2GVY9.MenuItems_open-2VtAS {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.MenuItems_menu-QgJck.MenuItems_hasSubmenu-1EhTS .MenuItems_downIcon-2GVY9 {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -8px;
    color: #adb5bd;
}

.MenuItems_submenuContainer-3sALs.MenuItems_show-1ldUA {
    max-height: 400px;
}

.MenuItems_submenuContainer-3sALs {
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow-y: hidden;
}

.MenuItems_submenuContainer-3sALs .MenuItems_submenu-3RDKb:hover {
    background-color: #f2f4f6;
}

.MenuItems_submenuContainer-3sALs .MenuItems_submenu-3RDKb {
    display: block;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 12px 16px 12px 44px;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

/* 사이드바 사라졌을 때 */
.AppNavbarLayout_divider-KAkAr {
    background-color: #fff;
    min-width: 28px;
}

.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd {
    display: flex;
    position: fixed;
    top: 92px;
    left: 12px;
    align-items: center;
    justify-content: center;
    transition: left 0.2s;
    border: 0.75px solid #e9ecef;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1019607843);
}

.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd
    .AppLayout_icon-1_YzF {
    background: url(https://static.wadiz.kr/studio/funding/static/media/icon-expand-more.21864999.svg)
        no-repeat 50%;
    background-size: 12px 12px;
    pointer-events: none;
    width: 12px;
    height: 12px;
}

/* 사이드바 열렸을 때 버튼 */
.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd.AppLayout_expand-3TNUI {
    left: 224px;
}
.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd.AppLayout_expand-3TNUI
    .AppLayout_icon-1_YzF {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* body */
.SortFilterOptions {
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
    margin-right: 20px;
}

.sort-filter-option.selected {
    font-weight: 700;
    line-height: 1.5;
}

.sort-filter-option {
    cursor: pointer;
    font-size: 14px;
}

.filter_wrap {
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    margin: 10px;
    padding: 10px;
}

.addServiceBtn,
.deleteSelectedBtn {
    height: 40px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f9fafb;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.addServiceBtn,
.deleteSelectedBtn {
    white-space: nowrap; /* 버튼 텍스트가 한 줄에 표시되도록 설정 */
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #f5f7fa; /* 배경색 조정 */
    border: 1px solid #e2e8f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addServiceBtn:hover,
.deleteSelectedBtn:hover {
    background-color: #e2e8f0; /* 버튼에 호버 효과 추가 */
}

.addServiceBtn.clicked,
.deleteSelectedBtn.clicked {
    background-color: rgb(0, 196, 196) !important;
}

.Filter_searchInput {
    flex-grow: 1;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    outline: none;
    min-width: 0;
    transition: border-color 0.3s;
}

.Filter_searchInput:focus {
    border-color: #00c4c4;
}
/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ********************************************************************************************** */
.AppLayout_container-2g11i .AppLayout_main-3h4EB .AppLayout_contents-1VFab {
    position: relative;
    -ms-flex: 1 1;
    flex: 1 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    overflow-x: auto;
    overflow-y: auto;
}

.Funding_wrapper-ZB-2b {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

.FundingHeader_container-wQrCW {
    color: #000;
}

.FundingHeader_container-wQrCW .FundingHeader_title-27dCX {
    line-height: 44px;
    font-size: 36px;
    margin: 0 0 16px;
    font-weight: 700;
}

.FundingHeader_container-wQrCW .FundingHeader_description-2IFl4 {
    margin-bottom: 32px;
    line-height: 24px;
    color: #495057;
    font-size: 17px;
    margin: 0 0 32px;
}

/* 버튼 */

button {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: 0 0;
    cursor: pointer;
    outline: 0;
    font-size: 15px;
    font-family: "SUIT", sans-serif;
    color: inherit;
}

.hidden {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* User Table Styles */
.FundingLayout_container-1WSFD {
    width: 1400px;
}
.UserTable_container-1JHD1 {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.UserTable_row-1Qg9b {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.UserTable_cell-3kj0K {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.UserTable_header-2WvXj {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.UserTable_cell-3kj0K input[type="checkbox"] {
    margin: 0 auto;
}

/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
.headerCell:nth-child(1),
.UserTable_cell-3kj0K:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
.headerCell:nth-child(2),
.UserTable_cell-3kj0K:nth-child(2) {
    width: 10%;
}

/* 두번째 열 */
.headerCell:nth-child(3),
.UserTable_cell-3kj0K:nth-child(3) {
    width: 18%;
}

/* 세번째 열 */
.headerCell:nth-child(4),
.UserTable_cell-3kj0K:nth-child(4) {
    width: 14%;
}

/* 네번째 열 */
.headerCell:nth-child(5),
.UserTable_cell-3kj0K:nth-child(5) {
    width: 14%;
}

/* 다섯번째 열 */
.headerCell:nth-child(6),
.UserTable_cell-3kj0K:nth-child(6) {
    width: 10%;
}

/* 여섯번째 열 */
.headerCell:nth-child(7),
.UserTable_cell-3kj0K:nth-child(7) {
    width: 10%;
}

/* 일곱 열 */
.headerCell:nth-child(8),
.UserTable_cell-3kj0K:nth-child(8) {
    width: 10%;
}

/* 마지막 열*/
.headerCell:nth-child(9),
.UserTable_cell-3kj0K:nth-child(9) {
    width: 9%;
}

/* 수정 버튼 */
.editBtn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}

.editBtn:hover {
    opacity: 0.8;
}

/* modal 창 */

/* Modal Styles */
@keyframes popUp {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes popDown {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}

/* Modal Background */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}
.modal .dim {
    display: block;
}
.dim {
    display: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.modal-content p {
    font-size: 20px;
    color: #343a40;
    font-weight: 700;
}

/* modal Verify Button */
.verify-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.verify-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.verify-btn:active {
    background-color: #004080;
}

/* modal 취소 버튼 */
.cancel-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cancel-btn:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.cancel-btn:active {
    background-color: #4e555b;
}

/* 모달2 - 수정 */
.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-bottom: 6px;
    margin-top: 15px;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.modal-content input[readonly] {
    background-color: #f9f9f9;
    color: #999;
}

.modal-content select {
    background-color: #fff;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.close-button:hover {
    color: #666;
}

.pagination {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    height: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.pagination-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    height: auto;
}

.pagination-first,
.pagination-prev,
.pagination-next,
.pagination-last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list li {
    margin: 0 2px;
}

.pagination-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px; /* 아이콘과 숫자 크기를 조절 */
    text-decoration: none;
    color: black; /* 필요에 따라 색상을 변경하세요 */
    border: 1px solid #ccc; /* 필요에 따라 테두리 스타일을 변경하세요 */
    border-radius: 3px; /* 필요에 따라 버튼 모양을 변경하세요 */
}

.pagination-list a:hover {
    background-color: #000000;
    color: #ffffff;
}

.pagination-list .active a {
    background-color: #000000; /* 배경을 검정색으로 */
    color: #ffffff; /* 글자를 하얀색으로 */
}
