<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>수거 관리 페이지</title>
        <link rel="stylesheet" href="/static/css/admin/admin_collection.css" />
    </head>
    <body>
        <div id="root">
            <div id="AppLayout_Container" class="AppLayout_container-2g11i">
                <div class="AppGNBbar_container-3aaiG">
                    <div class="AppGNBbar_flex--H9Qf">
                        <div class="StudioLogo_container-2u4Eb">
                            <button
                                class="StudioLogo_logo-pXI-Y"
                                type="button"
                                aria-label="로고 버튼"
                            ></button>
                            <div class="StudioLogo_type-2Sksn">
                                펀딩·프리오더
                            </div>
                        </div>
                        <div class="StudioStatus_stateBox-21QpO">
                            <span class="StudioStatus_state-2OMTs"
                                >작성 중</span
                            >
                        </div>
                    </div>
                    <div class="AppGNBbar_flex--H9Qf AppGNBbar_rightBox-we5_g">
                        <div class="ProjectInfo_container-3jAST">
                            <button
                                type="button"
                                class="ProjectInfo_infoButton-2bg95"
                                aria-controls="project-info-box"
                                aria-expanded="false"
                            >
                                관리자 ID:
                                <span class="ProjectInfo_emphasis-1i34c"
                                    >309473</span
                                >
                                <span class="ProjectInfo_text-3evR-">정보</span
                                ><svg
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon-2IQiS"
                                    aria-hidden="true"
                                    style="width: 12px; height: 12px"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                    ></path>
                                </svg>
                            </button>
                        </div>
                        <div
                            class="AnnouncementButton_container-1p1gr"
                            role="button"
                        >
                            <img
                                class="AnnouncementButton_icon-29AtY"
                                src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg"
                                alt=""
                                aria-hidden="true"
                            /><span
                                class="Badge_container-3exWO Badge_visible-1Zpvc AnnouncementButton_badge-2Jq25"
                                ><span
                                    class="Badge_badge-3-2fx Badge_dot-vTBB0 Badge_md-2iPBs"
                                ></span
                            ></span>
                        </div>
                        <div class="PreviewExitButtons_container-1R35v">
                            <button
                                class="Button_button-35X6_ PreviewExitButtons_button-2tixf"
                                type="button"
                            >
                                <span
                                    ><span class="Button_children-1TD4r"
                                        >비워드림</span
                                    ></span
                                ></button
                            ><button
                                class="Button_button-35X6_ PreviewExitButtons_button-2tixf"
                                type="button"
                            >
                                <span
                                    ><span class="Button_children-1TD4r"
                                        >로그아웃</span
                                    ></span
                                >
                            </button>
                        </div>
                    </div>
                </div>
                <div class="AppLayout_main-3h4EB">
                    <nav
                        id="AppNavbarLayout_Nav"
                        class="AppNavbarLayout_container-1zFQR AppNavbarLayout_expand-12bTj"
                    >
                        <div class="AppNavbarLayout_content-2agCV">
                            <div class="MenuItems_section-qApp6">
                                <a
                                    aria-current="page"
                                    class="MenuItems_menu-QgJck MenuItems_hasSubmenu-1EhTS MenuItems_active-tDqWg"
                                    ><span class="MenuItems_label-2ceJf"
                                        ><svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                            ></path>
                                        </svg>
                                        회원 관리<svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS MenuItems_downIcon-2GVY9"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                            ></path></svg></span
                                ></a>
                                <div class="MenuItems_submenuContainer-3sALs">
                                    <a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/plan"
                                        >일발 회원 정보</a
                                    >
                                    <a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/plan"
                                        >기사 정보</a
                                    >
                                </div>
                            </div>
                            <div class="MenuItems_section-qApp6">
                                <a
                                    aria-current="page"
                                    class="MenuItems_menu-QgJck MenuItems_hasSubmenu-1EhTS MenuItems_active-tDqWg"
                                    ><span class="MenuItems_label-2ceJf"
                                        ><svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                            ></path>
                                        </svg>
                                        결제 관리<svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS MenuItems_downIcon-2GVY9"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                            ></path></svg></span
                                ></a>
                                <div class="MenuItems_submenuContainer-3sALs">
                                    <a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/plan"
                                        >구독료 결제</a
                                    ><a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/screening"
                                        >포인트 결제</a
                                    >
                                </div>
                            </div>
                            <div class="MenuItems_section-qApp6">
                                <a
                                    aria-current="page"
                                    class="MenuItems_menu-QgJck MenuItems_hasSubmenu-1EhTS MenuItems_active-tDqWg"
                                    ><span class="MenuItems_label-2ceJf"
                                        ><svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                            ></path>
                                        </svg>
                                        후기 관리<svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS MenuItems_downIcon-2GVY9"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                            ></path></svg></span
                                ></a>
                                <div class="MenuItems_submenuContainer-3sALs">
                                    <a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/plan"
                                        >기사님 후기</a
                                    >
                                </div>
                            </div>
                            <div class="MenuItems_section-qApp6">
                                <a
                                    aria-current="page"
                                    class="MenuItems_menu-QgJck MenuItems_hasSubmenu-1EhTS MenuItems_active-tDqWg"
                                    ><span class="MenuItems_label-2ceJf"
                                        ><svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                            ></path>
                                        </svg>
                                        문의 관리<svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS MenuItems_downIcon-2GVY9"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                            ></path></svg></span
                                ></a>
                                <div class="MenuItems_submenuContainer-3sALs">
                                    <a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/plan"
                                        >FAQ</a
                                    ><a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/screening"
                                        >1대1 문의</a
                                    ><a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/story"
                                        >취소/교환/환불</a
                                    ><a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/condition"
                                        >배송문의</a
                                    ><a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/policy"
                                        >결제 문의</a
                                    ><a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/makerInfo"
                                        >서비스 문의</a
                                    >
                                </div>
                            </div>
                            <div class="MenuItems_section-qApp6">
                                <a
                                    aria-current="page"
                                    class="MenuItems_menu-QgJck MenuItems_hasSubmenu-1EhTS MenuItems_active-tDqWg"
                                    ><span class="MenuItems_label-2ceJf"
                                        ><svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                            ></path>
                                        </svg>
                                        상품 관리<svg
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            focusable="false"
                                            role="presentation"
                                            class="withIcon_icon-2IQiS MenuItems_downIcon-2GVY9"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                            ></path></svg></span
                                ></a>
                                <div class="MenuItems_submenuContainer-3sALs">
                                    <a
                                        class="MenuItems_submenu-3RDKb"
                                        href="/studio/reward/309473/funding/plan"
                                        >상품 목록</a
                                    >
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- body (메인 내용) -->
                    <div
                        id="AppLayout_Contents"
                        class="AppLayout_contents-1VFab"
                    >
                        <div class="Funding_wrapper-ZB-2b">
                            <!-- body_header -->
                            <div class="FundingHeader_container-wQrCW">
                                <h2 class="FundingHeader_title-27dCX">
                                    수거 관리
                                </h2>
                                <p class="FundingHeader_description-2IFl4">
                                    수거 목록을 조회합니다.
                                </p>
                            </div>

                            <!-- body_layout -->
                            <div class="FundingLayout_container-1WSFD">
                                <div class="filter_wrap">
                                    <div class="SortFilterOptions">
                                        <span
                                            class="sort-filter-option selected"
                                            >작성 날짜 순</span
                                        >/
                                        <span class="sort-filter-option"
                                            >이름 순</span
                                        >/
                                        <span class="sort-filter-option"
                                            >수거 상태</span
                                        >
                                    </div>
                                    <!-- Action Buttons -->
                                    <div class="action-buttons">
                                        <input
                                            type="text"
                                            class="Filter_searchInput"
                                            placeholder="검색어 입력"
                                        />
                                        <!-- <button
                                            id="addServiceBtn"
                                            class="addServiceBtn"
                                        >
                                            메일 전송
                                        </button>
                                        <button
                                            id="deleteSelectedBtn"
                                            class="deleteSelectedBtn"
                                        >
                                            문자 전송
                                        </button> -->
                                    </div>
                                </div>
                                <div class="UserTable_container-1JHD1">
                                    <div
                                        class="UserTable_row-1Qg9b UserTable_header-2WvXj"
                                    >
                                        <div
                                            class="UserTable_cell-3kj0K headerCell selectAllCell"
                                        >
                                            <input
                                                type="checkbox"
                                                id="selectAll"
                                            />
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            접수 번호
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            수거 신청일
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            이메일
                                        </div>

                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            주소
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            기사
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            등급
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            상태
                                        </div>
                                        <div
                                            class="UserTable_cell-3kj0K headerCell"
                                        >
                                            Action
                                        </div>
                                    </div>

                                    <!-- Example row (Initial data) -->
                                    <div class="UserTable_row-1Qg9b">
                                        <div class="UserTable_cell-3kj0K">
                                            <input
                                                type="checkbox"
                                                class="userCheckbox"
                                            />
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            1241231
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            2024-01-01
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            sa22ng@google.com
                                        </div>

                                        <div class="UserTable_cell-3kj0K">
                                            서울특별시 강남구 태헤란로 144-1243
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            홍길동
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            라이트
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            수거 요청
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            <button class="editBtn">
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                    <div class="UserTable_row-1Qg9b">
                                        <div class="UserTable_cell-3kj0K">
                                            <input
                                                type="checkbox"
                                                class="userCheckbox"
                                            />
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            상훈
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            2024-01-01
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            sang@google.com
                                        </div>

                                        <div class="UserTable_cell-3kj0K">
                                            서울 강남구
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            010-1234-1234
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            남
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            수거 예정
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            <button class="editBtn">
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                    <div class="UserTable_row-1Qg9b">
                                        <div class="UserTable_cell-3kj0K">
                                            <input
                                                type="checkbox"
                                                class="userCheckbox"
                                            />
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            상훈
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            2024-01-01
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            sang@google.com
                                        </div>

                                        <div class="UserTable_cell-3kj0K">
                                            서울 강남구
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            010-1234-1234
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            남
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            수거 완료
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            <button class="editBtn">
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                    <div class="UserTable_row-1Qg9b">
                                        <div class="UserTable_cell-3kj0K">
                                            <input
                                                type="checkbox"
                                                class="userCheckbox"
                                            />
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            상훈
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            2024-01-01
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            sang@google.com
                                        </div>

                                        <div class="UserTable_cell-3kj0K">
                                            서울 강남구
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            010-1234-1234
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            남
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            작성완료
                                        </div>
                                        <div class="UserTable_cell-3kj0K">
                                            <button class="editBtn">
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav class="pagination">
                                <ul class="pagination-list">
                                    <!-- 처음 페이지로 이동하는 버튼 -->
                                    <li class="pagination-first">
                                        <a
                                            href="#"
                                            class="pagination-first-link"
                                            rel="nofollow"
                                        >
                                            <span
                                                class="pagination-first-icon"
                                                aria-hidden="true"
                                                >«</span
                                            >
                                        </a>
                                    </li>
                                    <!-- 이전 페이지로 이동하는 버튼 -->
                                    <li class="pagination-prev">
                                        <a
                                            href="#"
                                            class="pagination-prev-link"
                                            rel="prev nofollow"
                                        >
                                            <span
                                                class="pagination-prev-icon"
                                                aria-hidden="true"
                                                >‹</span
                                            >
                                        </a>
                                    </li>
                                    <!-- 페이지 번호 버튼 -->
                                    <li class="pagination-page active">
                                        <a href="#" class="pagination-page-link"
                                            >1</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >2</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >3</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >4</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >5</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >6</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >7</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >8</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >9</a
                                        >
                                    </li>
                                    <li class="pagination-page">
                                        <a href="#" class="pagination-page-link"
                                            >10</a
                                        >
                                    </li>
                                    <!-- 다음 페이지로 이동하는 버튼 -->
                                    <li class="pagination-next">
                                        <a
                                            href="#"
                                            class="pagination-next-link"
                                            rel="next nofollow"
                                        >
                                            <span
                                                class="pagination-next-icon"
                                                aria-hidden="true"
                                                >›</span
                                            >
                                        </a>
                                    </li>
                                    <!-- 마지막 페이지로 이동하는 버튼 -->
                                    <li class="pagination-last">
                                        <a
                                            href="#"
                                            class="pagination-last-link"
                                            rel="nofollow"
                                        >
                                            <span
                                                class="pagination-last-icon"
                                                aria-hidden="true"
                                                >»</span
                                            >
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- 승인 버튼 모달 -->
                    <div id="authModal" class="modal">
                        <div class="dim"></div>
                        <div class="modal-wrap">
                            <div class="modal-content">
                                <p id="modalMessage">
                                    결제 승인을 하시겠습니까?
                                </p>
                                <div class="button-container">
                                    <button id="verifyBtn" class="verify-btn">
                                        확인
                                    </button>
                                    <button class="cancel-btn">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="editModal" class="modal">
                        <div class="dim"></div>
                        <div class="modal-wrap">
                            <div class="modal-content edit">
                                <h2>수거 상세 정보</h2>
                                <form id="editForm">
                                    <label for="editNumber">접수번호</label>
                                    <input
                                        type="text"
                                        id="editNumber"
                                        name="editNumber"
                                        readonly=""
                                    />

                                    <label for="editEmail">이메일</label>
                                    <input
                                        type="email"
                                        id="editEmail"
                                        name="editEmail"
                                    />
                                    <label for="editAddress">주소</label>
                                    <input
                                        type="text"
                                        id="editAddress"
                                        name="editAddress"
                                    />

                                    <label for="editGrade">등급</label>
                                    <select id="editGrade" name="editGrade">
                                        <option value="라이트">라이트</option>
                                        <option value="스탠다드">
                                            스탠다드
                                        </option>
                                        <option value="프리미엄">
                                            프리미엄
                                        </option>
                                    </select>
                                    <label for="editDeliveryName">기사</label>
                                    <input
                                        type="text"
                                        id="editDeliveryName"
                                        name="editDeliveryName"
                                    />
                                    <label for="editDistance">수거 거리</label>
                                    <input
                                        type="text"
                                        id="editDistance"
                                        name="editDistance"
                                    />

                                    <label for="editCharge">배달료</label>
                                    <select id="editCharge" name="editCharge">
                                        <option value="2,500원">2,500원</option>
                                        <option value="3,000원">3,000원</option>
                                        <option value="3,500원">3,500원</option>
                                    </select>
                                    <label for="editItem">배출 품목</label>
                                    <input
                                        type="text"
                                        id="editItem"
                                        name="editItem"
                                    />
                                    <label for="editRequestDate"
                                        >수거 신청일</label
                                    >
                                    <input
                                        type="date"
                                        id="editRequestDate"
                                        name="editRequestDate"
                                    />
                                    <label for="editGetDate">수거 일정</label>
                                    <input
                                        type="text"
                                        id="editGetDate"
                                        name="editGetDate"
                                    />
                                    <label for="editEntry">출입 방법</label>
                                    <input
                                        type="text"
                                        id="editEntry"
                                        name="editEntry"
                                    />
                                    <label for="editRequest"
                                        >기타 요청 사항</label
                                    >
                                    <input
                                        type="text"
                                        id="editRequest"
                                        name="editRequest"
                                    />

                                    <label for="editStatus">상태</label>
                                    <select id="editStatus" name="editStatus">
                                        <option value="수거 요청">
                                            수거 요청
                                        </option>
                                        <option value="수거 예정">
                                            수거 예정
                                        </option>
                                        <option value="수거 완료">
                                            수거 완료
                                        </option>
                                    </select>
                                    <div class="editButtonWrap">
                                        <button
                                            type="button"
                                            class="verify-btn save"
                                        >
                                            저장
                                        </button>
                                        <button class="cancel-btn">취소</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- 사이드바 버튼(click하면 사이드바 들어감) -->
                    <button
                        type="button"
                        class="AppLayout_expandNavButton-2AQMd AppLayout_expand-3TNUI"
                    >
                        <i class="AppLayout_icon-1_YzF"></i>
                    </button>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/admin/admin_collection.js"></script>
</html>
