<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>푸터</title>
        <link rel="stylesheet" href="/css/main/footer.css"/>
    </head>
    <body>
        <footer class="footer" th:fragment="footer">
            <div class="gezuwo">
                <div class="inner">
                    <div class="flex">
                        <div id="footer-primary" class="footer-primary">
                            <div class="footer-logo">
                                <img src="/images/onjung-logo.png"

                                    class="levnsz logo"
                                    width="91px"
                                    height="22px"
                                />
                            </div>
                            <div class="footer-company pc">
                                <div class="company-info">
                                    <div>
                                        <div>
                                            <span class="bar">팀장</span
                                            ><span class="margin">양승민</span
                                            ><span class="bar">역할</span>
                                            <span>역할 추가하기</span>
                                        </div>
                                        <div>
                                            <span class="bar">팀원</span
                                            ><span class="margin">이지민</span
                                            ><span class="bar">역할</span>
                                            <span>역할 추가하기</span>
                                        </div>
                                        <div>
                                            <span class="bar">팀원</span
                                            ><span class="margin">윤주현</span
                                            ><span class="bar">역할</span>
                                            <span>역할 추가하기</span>
                                        </div>
                                        <div>
                                            <span class="bar">팀원</span
                                            ><span class="margin">한민규</span
                                            ><span class="bar">역할</span>
                                            <span>역할 추가하기</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-secondary">
                            <div class="arrow-link-container">
                                <a
                                    href="/introduction/introduction"
                                    class="hlisls leeli link"
                                    target="_blank"
                                    >사업 소개
                                    <div
                                        height="12"
                                        color="#101C33"
                                        direction="right"
                                        class="kfsvgf arrow"
                                    >
                                        <svg width="12" height="12">
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M12 0H0v12h12z"></path>
                                                <path
                                                    d="M3.974 11c.237 0 .475-.09.654-.269L8.732 6.66a.899.899 0 000-1.28L4.578 1.269a.932.932 0 00-1.306-.004.899.899 0 00-.003 1.285l3.507 3.471-3.457 3.43a.897.897 0 00.005 1.285.925.925 0 00.65.264"
                                                    fill="#101C33"
                                                ></path>
                                            </g>
                                        </svg></div
                                ></a>
                                <a
                                    href="/help/help-notification-list"
                                    class="hlisls leeli link"
                                    target="_blank"
                                    >공지사항
                                    <div
                                        height="12"
                                        color="#101C33"
                                        direction="right"
                                        class="kfsvgf arrow"
                                    >
                                        <svg width="12" height="12">
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M12 0H0v12h12z"></path>
                                                <path
                                                    d="M3.974 11c.237 0 .475-.09.654-.269L8.732 6.66a.899.899 0 000-1.28L4.578 1.269a.932.932 0 00-1.306-.004.899.899 0 00-.003 1.285l3.507 3.471-3.457 3.43a.897.897 0 00.005 1.285.925.925 0 00.65.264"
                                                    fill="#101C33"
                                                ></path>
                                            </g>
                                        </svg></div
                                ></a>
                                <a
                                    href="/help/help"
                                    class="hlisls leeli link"
                                    target="_blank"
                                    >고객 센터
                                    <div
                                        height="12"
                                        color="#101C33"
                                        direction="right"
                                        class="kfsvgf arrow"
                                    >
                                        <svg width="12" height="12">
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M12 0H0v12h12z"></path>
                                                <path
                                                    d="M3.974 11c.237 0 .475-.09.654-.269L8.732 6.66a.899.899 0 000-1.28L4.578 1.269a.932.932 0 00-1.306-.004.899.899 0 00-.003 1.285l3.507 3.471-3.457 3.43a.897.897 0 00.005 1.285.925.925 0 00.65.264"
                                                    fill="#101C33"
                                                ></path>
                                            </g>
                                        </svg></div
                                ></a>
                            </div>
                            <div class="info">
                                <div class="info-box">
                                    <div class="title">상담시간</div>
                                    <div>
                                        <p>평일 11:00 ~ 17:00</p>
                                        <p>점심 12:30 ~ 13:30</p>
                                        <span class="smail"
                                            >주말,공휴일은 제외</span
                                        >
                                    </div>
                                </div>
                                <div class="info-box">
                                    <div class="title">이메일</div>
                                    <div>
                                        <a class="email">ljm21000@gmail.com</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="footer-link" class="footer-link">
                        <div class="nav">
                            <div class="bar">
                                <a href="https://github.com/dev-resetok" target="_blank" class="hlisls"
                                    >양승민</a
                                >
                            </div>
                            <div class="bar">
                                <a href="https://github.com/jimin9712" target="_blank" class="hlisls"
                                    >이지민</a
                                >
                            </div>
                            <div class="bar">
                                <a href="https://github.com/yunjuhyeon" target="_blank" class="hlisls"
                                    >윤주현</a
                                >
                            </div>
                            <div class="bar">
                                <a href="" target="_blank" class="hlisls"
                                    >한민규</a
                                >
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
