<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>비밀번호 찾기</title>
        <link rel="stylesheet" href="/css/login/password.css" />
        <link
                rel="icon"
                href="/images/favicon.png"
        />
    </head>
    <body>
        <div id="root">
            <div class="wrap register-wrap palm-leaf">
                <div class="main-container">
                    <div class="main-register-wrap">
                        <div class="right-right-area">
                            <header class="header">
                                <div class="logo loud"></div>
                            </header>
                            <div class="right-join-wrap">
                                <div class="register-register-area">
                                    <h1>비밀번호 찾기</h1>
                                    <div>
                                        <p
                                            class="register-txt"
                                            style="padding-bottom: 15px"
                                        >
                                            가입 시 등록했던 이메일로
                                            <br />
                                            비밀번호를 변경할 수 있는 메일을
                                            보내드릴게요.
                                        </p>
                                    </div>
                                    <form
                                        name="register-form"
                                        class="register-register-form"
                                    >
                                        <div
                                            class="stunning-box register-stunning-box"
                                        >
                                            <div
                                                class="register-input-box register-with-btn false"
                                            >
                                                <p class="label-text">이메일</p>
                                                <input
                                                    type="text"
                                                    name="email"
                                                    id="email"
                                                    class="form-input"
                                                    value
                                                />
                                                <span class="waring-msg"
                                                    >가입되지 않은 이메일
                                                    입니다.</span
                                                >
                                            </div>
                                            <button type="button" id="send-email-btn" class="password-btn-complete">
                                                전송하기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="btn-back-login-back-login back-login">
                                <span>비밀번호가 생각나셨나요?</span>
                                <a
                                    class="btn-back-login-btn-back-login loud-back-login-btn"
                                    href="/member/login"
                                    >로그인하기</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/login/password.js"></script>
    </body>
</html>
