<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>비밀번호 찾기 메일 전송</title>
        <link
            rel="stylesheet"
            href="/static/css/login/password_send_mail.css"
        />
        <link
                rel="icon"
                href="/images/favicon.png"
        />
    </head>
    <body>
        <div id="root">
            <div class="wrap register-wrap palm-leaf">
                <div class="main-container">
                    <div class="main-register-wrap">
                        <div class="right-right-area-send">
                            <div class="right-join-wrap">
                                <div class="password-register-area">
                                    <div class="password-txt-box">
                                        <span class="password-ico"></span>
                                        <p>
                                            비밀번호를 재설정을 위한 이메일을
                                            전송했습니다.
                                            <br />
                                            메일함을 확인해주세요.
                                        </p>
                                    </div>
                                    <div
                                        class="classic-black-btn password-btn-complete"
                                    >
                                        확인
                                    </div>
                                    <div class="password-txt-box">
                                        <span
                                            >메일이 오지 않았다면,
                                            <b>스팸메일함</b>을 확인하거나
                                            <span>이메일 재전송</span>해주세요.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
