<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>비밀번호 찾기 재설정</title>
        <link rel="stylesheet" href="/css/login/password_reset.css" />
        <link
                rel="icon"
                href="/images/favicon.png"
        />
    </head>
    <body>
        <div id="root">
            <div class="reset-password-container">
                <div
                    class="reset-password-my-content-wrap reset-password-my-pw-content-wrap"
                >
                    <div class="reset-password-reset-area">
                        <header class="header">
                            <div
                                class="logo stunning"
                                style="width: 124px; padding-bottom: 16px"
                            ></div>
                        </header>
                        <div style="width: 100%">
                            <h1>비밀번호 재설정</h1>
                            <div class="reset-password-content">
                                <div class="reset-password-content-txt">
                                    <p class="reset-password-txt">
                                        <strong>온정</strong>
                                        <span
                                            >에서 사용할 비밀번호를
                                            입력해주세요.</span
                                        >
                                    </p>
                                </div>
                                <form
                                    class="reset-password-reset-password-form"
                                    name="reset-form"
                                    method="post"
                                >
                                    <div class="reset-password-input-box">
                                        <p class="label-text">
                                            새로운 비밀번호
                                        </p>
                                        <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            class
                                            placeholder=" 6자 이상"
                                        />
                                        <img
                                            class="password-show-btn"
                                            src="https://accounts-front.stunning.kr/assets/img/login/ico-hidden.png"
                                            alt
                                        />
                                        <span
                                            class="reset-password-btn-waring"
                                            style="display: none"
                                            >6자 이상의 비밀번호를
                                            입력해주세요.</span
                                        >
                                    </div>
                                    <div class="reset-password-input-box">
                                        <p class="label-text">비밀번호 확인</p>
                                        <input
                                            type="password"
                                            id="password-confirm"
                                            name="password-confirm"
                                            class
                                            placeholder=" 6자 이상"
                                        />
                                        <img
                                            class="password-show-btn"
                                            src="https://accounts-front.stunning.kr/assets/img/login/ico-hidden.png"
                                            alt
                                        />
                                        <span
                                            class="reset-password-btn-waring2"
                                            style="display: none"
                                            >비밀번호가 일치하지 않습니다.</span
                                        >
                                        <button
                                            type="button"
                                            class="reset-password-btn-complete false"
                                        >
                                            변경 완료
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div
                    class="modal"
                    style="
                        position: fixed;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        z-index: 10000;
                    "
                >
                    <div
                        style="
                            transform: translate3d(0px, 0px, 0px);
                            z-index: 10002;
                            box-sizing: border-box;
                            transition: transform 500ms
                                    cubic-bezier(0, 0, 0.25, 1),
                                opacity 500ms cubic-bezier(0, 0, 0.25, 1);
                        "
                    >
                        <div class="alert-modal-inner-1u03v alert-modal">
                            <div class="alert-txt-box-2bji8">
                                <span
                                    class="alert-ico-1mtdg false false false"
                                ></span>
                                <p>성공적으로 비밀번호가 변경되었습니다.</p>
                                <button class="alert-btn-complete-1qcb1">
                                    확인
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                        class="last-modal"
                        style="
                            position: fixed;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.7);
                            z-index: 10001;
                        "
                    ></div>
                </div>
            </div>
        </div>
        <script src="/js/login/password-reset.js"></script>
    </body>
</html>
