<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/login/signup.css" />
    <link
            rel="icon"
            href="/images/favicon.png"
    />
</head>
<body>
<div id="root">
    <div class="wrap register-wrap palm-leaf">
        <div class="main-container">
            <div class="main-register-wrap">
                <div class="right-right-area-register-entry">
                    <header class="header">
                        <div
                                class="logo loud"
                                style="height: 20px"
                        ></div>
                    </header>
                    <div
                            class="right-join-wrap"
                            style="padding-top: 0px"
                    >
                        <div
                                class="register-register-area"
                                style="text-align: center"
                        >
                            <p class="register-register-entry-h1">
                                반가워요👋
                            </p>
                            <p class="register-register-entry-text">
                                온정 통합회원으로<br /><b>온정 로그인</b
                            >을 간편하게 이용하세요
                            </p>
                            <div class="social-social-login-list-box">
                                <ul>
                                    <a href="">
                                        <li class="social-kakao">
                                            <a href="https://kauth.kakao.com/oauth/authorize?client_id=ebd5fc7a83ce64e3914000e4b3ac6cc7&redirect_uri=http://localhost:10000/kakao/login&response_type=code">

                                            <img
                                                    src="/images/kakao_login_medium_wide.png"
                                            />
                                            </a>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                            <div
                                    class="register-flex-div"
                                    style="padding: 8px 20px"
                            >
                                <div class="register-line-div"></div>
                                <p
                                        class="register-line-text"
                                        style="padding: 0px 10px"
                                >
                                    또는
                                </p>
                                <div class="register-line-div"></div>
                            </div>
                            <div class="register-register-by-email">
                                <a href="/member/email">이메일로 가입하기</a>
                            </div>
                            <div
                                    class="btn-back-login-back-login back-login btn-back-login-register-back-login"
                            >
                                        <span
                                        >이미 온정 통합 계정이
                                            있으신가요?</span
                                        >
                                <a
                                        class="btn-back-login-btn-back-login loud-back-login-btn"
                                        href="/member/login"
                                >로그인 하기</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
