<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>후원 페이지 - 목록</title>
        <link
            rel="stylesheet"
            href="../../static/css/support/support-list.css"
        />
    </head>
    <body>
        <div class="main-container content">
            <main class="section-container">
                <section>
                    <aside class="status-wrap">
                        <div
                            id="contest-list-aside-state"
                            class="accordion-container contest-list-filters"
                            type="box"
                        >
                            <div class="accordion accordion-title" width="0">
                                상태
                                <div class="open-button">
                                    <div class="status-svg-container">
                                        <div
                                            height="12"
                                            color="#101c33"
                                            direction="right"
                                            class="status-svg"
                                        >
                                            <svg
                                                width="12"
                                                height="12"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <g
                                                    fill="none"
                                                    fill-rule="evenodd"
                                                >
                                                    <path
                                                        d="M12 0H0v12h12z"
                                                    ></path>
                                                    <path
                                                        d="M3.689 11a.65.65 0 00.448-.174l4.68-4.389a.561.561 0 00-.001-.83L4.08 1.174a.664.664 0 00-.894-.003.56.56 0 00-.002.832l4.294 4.02L3.24 9.996a.56.56 0 00.004.832.653.653 0 00.444.171"
                                                        fill="#101C33"
                                                    ></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-description active"
                                style="height: 129px"
                            >
                                <div>
                                    <div class="description">
                                        <div
                                            class="status-radio-container contest-list-state"
                                        >
                                            <label
                                                for="radio-input-recruit"
                                                class="active"
                                                ><input
                                                    readonly=""
                                                    type="radio"
                                                    id="radio-input-recruit"
                                                    value="recruit"
                                                />
                                                <div
                                                    class="radio-input-button"
                                                ></div>
                                                <div class="radio-input-label">
                                                    모금중
                                                </div></label
                                            ><label for="radio-input-End"
                                                ><input
                                                    readonly=""
                                                    type="radio"
                                                    id="radio-input-End"
                                                    value="End"
                                                />
                                                <div
                                                    class="radio-input-button"
                                                ></div>
                                                <div class="radio-input-label">
                                                    종료
                                                </div></label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="write-introduce">
                                <div class="title">편하게 작성하세요!</div>
                                <div class="desc">
                                    사소한 도움이라도 괜찮아요. 우리가 나누는
                                    작은 마음들이 모여 더 큰 기적을 만듭니다.
                                </div>
                                <button class="write-button">
                                    <span class="visual-correction"
                                        >작성하기</span
                                    >
                                </button>
                            </div>
                        </div>
                        <div
                            width="100%"
                            height="32px"
                            class="list-divider"
                        ></div>
                    </aside>
                    <div class="list-wrapper">
                        <section>
                            <div class="filter-container">
                                <div class="action-filter">
                                    <div class="right-filter-container">
                                        <div class="right-filter">
                                            <div class="header-wrap">
                                                <div class="wrap-title"></div>
                                                <input
                                                    type="text"
                                                    readonly=""
                                                    value="최신등록순"
                                                /><svg
                                                    class="icon-filter-arrow arrow"
                                                    viewBox="0 0 12 12"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M3.68888 11.0004C3.85188 11.0004 4.01388 10.9424 4.13688 10.8264L8.81688 6.43738C9.06088 6.20738 9.06088 5.83638 8.81588 5.60738L4.07988 1.17438C3.83288 0.942377 3.43288 0.942377 3.18588 1.17138C2.93888 1.40038 2.93788 1.77238 3.18388 2.00338L7.47788 6.02238L3.24088 9.99738C2.99588 10.2294 2.99688 10.6014 3.24488 10.8294C3.36788 10.9434 3.52888 11.0004 3.68888 11.0004Z"
                                                    ></path>
                                                    <defs></defs>
                                                </svg>
                                            </div>
                                            <div class="bottom-wrap">
                                                <div
                                                    width="100%"
                                                    height="8px"
                                                    class="bottom-drop-down"
                                                ></div>
                                                <div class="list-wrap">
                                                    <div class="item active">
                                                        최신등록순
                                                    </div>

                                                    <div class="item">
                                                        조회순
                                                    </div>
                                                    <div class="item">
                                                        마감임박순
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <article class="ul-container">
                            <ul id="contest-list">
                                <li></li>
                            </ul>
                        </article>
                        <nav class="page-container paginator">
                            <a class="page-btn active">1</a
                            ><a class="page-btn">2</a><a class="page-btn">3</a
                            ><a class="page-btn">4</a><a class="page-btn">5</a
                            ><a class="page-btn">6</a><a class="page-btn">7</a
                            ><a class="page-btn">8</a><a class="page-btn">9</a
                            ><a class="page-btn">10</a
                            ><a class="page-btn next"
                                ><svg viewBox="0 0 12 12" class="icon-default">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M3.68888 11.0004C3.85188 11.0004 4.01388 10.9424 4.13688 10.8264L8.81688 6.43738C9.06088 6.20738 9.06088 5.83638 8.81588 5.60738L4.07988 1.17438C3.83288 0.942377 3.43288 0.942377 3.18588 1.17138C2.93888 1.40038 2.93788 1.77238 3.18388 2.00338L7.47788 6.02238L3.24088 9.99738C2.99588 10.2294 2.99688 10.6014 3.24488 10.8294C3.36788 10.9434 3.52888 11.0004 3.68888 11.0004Z"
                                    ></path>
                                    <defs></defs>
                                </svg>
                            </a>
                        </nav>
                    </div>
                </section>
            </main>
        </div>
    </body>
    <script th:inline="javascript">
        const lists = [[${lists}]];
        const pagination = [[${pagination}]];
    </script>
    <script src="/static/js/support/support-list.js"></script>
</html>
