@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");
body, html {
    font-family: 'Noto Sans KR', 'Noto Sans Korean', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif !important;
}
a, body, button, input, select, sub, textarea {
    font-family: "Pretendard" !important;
    color: #777;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-size: 1.4rem;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 340px;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    font-size: 10px;
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.wrap.palm-leaf {
    background: #f9fafb;
}
.wrap {
    position: relative;
    z-index: 0;
    width: 100%;
    background: #fff;
}
.main-register-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.right-right-area {
    width: 640px;
    position: relative;
    background-color: #fff;
    border-radius: 32px;
    padding: 90px 160px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header {
    text-align: center;
}
header {
    display: block;
    unicode-bidi: isolate;
}
.header .logo.loud {
    background: url(/images/onjung-logo.png) 50% 0 no-repeat;
    background-size: contain;
}
.header .logo, .header .logo.loud {
    image-rendering: -webkit-optimize-contrast;
}
.header .logo {
    display: inline-block;
    background: url(https://accounts-front.stunning.kr/assets/img/common/ico-stunning-basic.png) 50% 0 no-repeat;
    background-size: contain;
    width: 220px;
    height: 32px;
    padding-bottom: 20px;
}
.right-right-area .right-join-wrap{
    width: 100%;
    max-width: 400px;
    padding-top: 24px;
}
.right-right-area h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.5px;
    word-break: keep-all;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.register-register-area .register-txt {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.5px;
    color: #4b4b4b;
}
h3, h4, h5, li, p, span {
    word-break: keep-all;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
form div.register-input-box {
    position: relative;
    padding-top: 18px;
    margin-top: 14px;
}
.label-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: -.5px;
    color: #0d0d0d;
}

button, img, input, select, textarea {
    vertical-align: middle;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
input {
    position: relative;
    margin-top: 8px;
    padding: 10px 12px;
    width: 100%;
    height: 42px;
    -webkit-appearance: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -.5px;
    color: #0d0d0d;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
body form[name=register-form] .stunning-box.loud .input-box button:hover {
    background: #2656f6;
    border-color: #2656f6;
    color: #fff;
}

button.button-send-active, button.button-send-active:hover {
    background: #141414 !important;
    border-color: #141414;
    color: #fff !important;
    cursor: pointer;
}
button.button-btn-send, button.button-btn-send:hover {
    padding: 0 28px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 42px;
    flex-shrink: 0;
    background: #f6f6f6 !important;
    border: none;
    border-radius: 4px;
    color: #dfdfdf !important;
}

body form[name=register-form] .stunning-box span {
    margin-top: 5px;
    display: none;
    font-size: 12px;
    letter-spacing: -.25px;
}
.password-btn-complete {
    margin-top: 31px;
    position: relative;
    display: block;
    width: 100%;
    outline: none;
}
.classic-black-btn {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: -.5px;
    border-radius: 4px;
    color: #fff;
    background: #0d0d0d;
    border: none;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}
.btn-back-login-back-login {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding-top: 10px;
}
.password-btn-complete {
    margin-top: 31px;
    position: relative;
    display: block;
    width: 100%;
    outline: none;
}
.btn-back-login-back-login span {
    color: #4b4b4b;
    letter-spacing: -.2px;
}
.btn-back-login-back-login .btn-back-login-btn-back-login {
    margin-left: 16px;
    display: inline-block;
    letter-spacing: -.5px;
    text-decoration: underline;
    text-underline-position: under;
    color: #0d0d0d;
    box-sizing: border-box;
}


body form[name=register-form] .stunning-box span.warning-msg {
    display: block;
    background: url(https://accounts-front.stunning.kr/assets/img/common/ico-caution.png) 0 1px no-repeat;
    background-size: 12px 12px;
    padding-left: 14px;
    color: #f21724;
}
.password-btn-complete {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: -.5px;
    border-radius: 4px;
    color: #fff;
    background: #0d0d0d;
    border: none;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}