@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");
body, html {
    font-family: 'Noto Sans KR', 'Noto Sans Korean', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif !important;
}
a, body, button, input, select, sub, textarea {
    font-family: "Pretendard" !important;
    color: #777;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.4rem;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    min-width: 340px;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
h3, h4, h5, li, p, span {
    word-break: keep-all;
}
p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
strong {
    font-weight: bold;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
    
}
/* input[type="password" i] {
    -webkit-text-security: disc !important;
    padding-block: 1px;
    padding-inline: 2px;
} */
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input {
    position: relative;
    margin-top: 8px;
    padding: 10px 12px;
    width: 100%;
    height: 42px;
    -webkit-appearance: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: -.5px;
    color: #0d0d0d;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
button, img, input, select, textarea {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    font-size: 10px;
    box-sizing: border-box;
}
.reset-password-container {
    background: #f9fafb;
}
.reset-password-my-content-wrap {
    width: 500px;
    margin: 0 auto;
}
.reset-password-my-pw-content-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.reset-password-reset-area {
    position: relative;
    background-color: #fff;
    border-radius: 32px;
    width: 640px;
    padding: 90px 148px 48px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header {
    text-align: center;
}
header {
    display: block;
    unicode-bidi: isolate;
}
.header .logo, .header .logo.loud {
    image-rendering: -webkit-optimize-contrast;
}
.header .logo {
    display: inline-block;
    background: url(/images/onjung-logo.png) 50% 0 no-repeat;
    background-size: contain;
    width: 220px;
    height: 32px;
    padding-bottom: 20px;
}
.reset-password-my-content-wrap h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.2px;
    padding-bottom: 32px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.reset-password-my-content-wrap .reset-password-content .reset-password-content-txt p.reset-password-txt {
    font-size: 13px;
    line-height: 155%;
    letter-spacing: -.46px;
    color: #666;
    word-break: keep-all;
    padding-bottom: 16px;
    text-align: center;
}
.reset-password-my-content-wrap .reset-password-content .reset-password-content-txt p.reset-password-txt span {
    display: inline-block;
}
.reset-password-my-content-wrap .reset-password-content .reset-password-input-box {
    position: relative;
    margin-top: 16px;
    padding-top: 16px;
}
.label-text {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: -.5px;
    color: #0d0d0d;
}
.password-show-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 55px;
    right: 11px;
}
.reset-password-my-content-wrap .reset-password-content button.reset-password-btn-complete{
    margin-top: 72px;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.5px;
    color: #fff;
    border-radius: 4px;
    background: #141414;
    border: none;    text-align: center;
    cursor: pointer;
}
span.reset-password-warning {
    display: block;
    background: url(https://accounts-front.stunning.kr/assets/img/common/ico-caution.png) 0 1px no-repeat;
    background-size: 12px 12px;
    padding-left: 14px;
}
.reset-password-input-box span {
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.25px;
    color: #f21724;
}
.alert-modal-inner-1u03v {
    padding: 40px 51px;
    box-shadow: rgba(0, 0, 0, .3);
    box-sizing: border-box;
    background: #fff;
    border-radius: 16px;
}
.alert-txt-box-2bji8 {
    text-align: center;
}
.alert-txt-box-2bji8 span.alert-ico-1mtdg {
    margin-bottom: 25px;
    display: inline-block;
    width: 60px;
    height: 61px;
    background: url(https://accounts-front.stunning.kr/assets/img/common/img-correct-check@2x.png) 50% 50% no-repeat;
    background-size: 60px 61px;
}
.alert-txt-box-2bji8 p {
    font-weight: 700;
    color: #6f7785;
}.alert-txt-box-2bji8 p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -.288462px;
}
.alert-btn-complete-1qcb1 {
    margin-top: 52px;
    position: relative;
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    background: #141414;
    border: none;
    cursor: pointer;
    outline: none;
}
