@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");
body, html {
    font-family: 'Noto Sans KR', 'Noto Sans Korean', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif !important;
}
* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
ol, ul {
    list-style: none;
}

a, body, button, input, select, sub, textarea {
    font-family: "Pretendard" !important;
    color: #777;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-size: 1.4rem;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    font-size: 10px;
    box-sizing: border-box;
}
.wrap.palm-leaf {
    background: #f9fafb;
}
.wrap {
    position: relative;
    z-index: 0;
    width: 100%;
    background: #fff;
}
.main-register-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.right-right-area-register-entry, .right-right-area-send {
    position: relative;
    background-color: #fff;
    border-radius: 32px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.right-right-area-register-entry {
    min-width: 578px;
    width: 640px;
    padding: 48px 149px;
}
.header {
    text-align: center;
}
header {
    display: block;
    unicode-bidi: isolate;
}
.header .logo.loud {
    background: url(/images/onjung-logo.png) 50% 0 no-repeat;
    background-size: contain;
}
.header .logo, .header .logo.loud {
    image-rendering: -webkit-optimize-contrast;
}
.header .logo {
    display: inline-block;
    background: url(https://accounts-front.stunning.kr/assets/img/common/ico-stunning-basic.png) 50% 0 no-repeat;
    background-size: contain;
    width: 220px;
    height: 32px;
    padding-bottom: 20px;
}
.right-right-area-register-entry .right-join-wrap, .right-right-area-send .right-join-wrap{
    width: 100%;
    max-width: 400px;
    padding-top: 24px;
}
.register-register-entry-h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.5px;
    color: #0d0d0d;
    padding-top: 144px;
}
h3, h4, h5, li, p, span {
    word-break: keep-all;
}
p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.register-register-entry-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.5px;
    color: #4b4b4b;
    padding-top: 8px;
}

.social-social-login-list-box {
    padding: 55px 0 23px;
    text-align: center;
}
b {
    font-weight: bold;
}
.social-social-login-list-box a {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.5px;
    text-decoration: none; /* 밑줄 제거 */
}
.social-social-login-list-box ul li.social-kakao {
    background: #f9da49;
    color: #000 !important;
    image-rendering: -webkit-optimize-contrast;
    margin-left: -18px;
    
}
.social-social-login-list-box ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    margin-bottom: 8px;
}

button, img, input, select, textarea {
    vertical-align: middle;
} 
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.register-flex-div {
    position: relative;
    align-items: center;
    display: flex;
}
.register-line-div {
    border-top: 1px solid #dfdfdf;
    width: 100%;
    height: 1px;
}
.register-line-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -.25px;
    color: #858585;
}
.register-register-by-email {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -.5px;
    color: #0d0d0d;
    margin-bottom: 191px;
}
.btn-back-login-back-login {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding-top: 10px;
}
.btn-back-login-back-login span {
    color: #4b4b4b;
    letter-spacing: -.2px;
}
.btn-back-login-btn-back-login{
    margin-left: 16px;
    display: inline-block;
    letter-spacing: -.5px;
    text-decoration: underline;
    text-underline-position: under;
    color: #0d0d0d;
    box-sizing: border-box;
}
.social-social-login-list-box ul li:hover {
    opacity: .8;
}
.register-register-area .register-register-by-email:hover {
    border: 1px solid #ececec;
}