<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/introduction/introduction.css"
        />
        <link
                rel="icon"
                href="/images/favicon.png"
        />
        <title>사업소개</title>
    </head>
    <body>
        <div id="root">
            <div
                style="
                    position: fixed;
                    z-index: 9999;
                    inset: 16px;
                    pointer-events: none;
                "
            ></div>
            <div id="app">
                <div class="app-inner">
                    <div class="main-wrap">
                        <div class="main-container">
                            <div class="main">
                                <section class="promotion-section">
                                    <div class="head-text">
                                        <div class="sub-text">
                                            국내 최대 봉사 & 기부 플랫폼
                                        </div>
                                        <h2 class="sub-title-container">
                                            <span class="sub-title">
                                                도움이 필요할 때,
                                                <br />
                                                <span class="sub-title-inner"
                                                    >더이상&nbsp;고민하지&nbsp;마세요</span
                                                >
                                            </span>
                                        </h2>
                                    </div>
                                    <div class="bar-text">
                                        온정에서 모두 해결하세요!
                                    </div>
                                    <div class="achievement-area">
                                        <div
                                            class="achievement-area-inner"
                                            direction="row"
                                            width="calc(100% / 4 - 200px + 50px)"
                                        >
                                            <div class="achievement-item">
                                                <div class="achievement-img">
                                                    <img
                                                        src="https://cdn-dantats.stunning.kr/static/emoji/ArtistPalatte70px.png"
                                                        class="achievement-img-inner"
                                                    />
                                                </div>
                                                <div class="achievement-count">
                                                    <div
                                                        class="achievement-value"
                                                    >
                                                        22만
                                                    </div>
                                                </div>
                                                <div class="achievement-desc">
                                                    회원 수
                                                </div>
                                            </div>
                                            <div class="achievement-item">
                                                <div class="achievement-img">
                                                    <img
                                                        id="image.system.emoji.clarencehilpert"
                                                        src="https://cdn-dantats.stunning.kr/static/emoji/Trophy70px.png"
                                                        class="achievement-img-inner"
                                                    />
                                                </div>
                                                <div class="achievement-count">
                                                    <div
                                                        class="achievement-value"
                                                    >
                                                        3만
                                                    </div>
                                                </div>
                                                <div class="achievement-desc">
                                                    누적 봉사활동 수
                                                </div>
                                            </div>
                                            <div class="achievement-item">
                                                <div class="achievement-img">
                                                    <img
                                                        id="image.system.emoji.archieabernathy"
                                                        src="https://cdn-dantats.stunning.kr/static/emoji/ThumbsUp70px.png"
                                                        class="achievement-img-inner"
                                                    />
                                                </div>
                                                <div class="achievement-count">
                                                    <div
                                                        class="achievement-value"
                                                    >
                                                        98.7%
                                                    </div>
                                                </div>
                                                <div class="achievement-desc">
                                                    기부 성공율
                                                </div>
                                            </div>
                                            <div class="achievement-item">
                                                <div class="achievement-img">
                                                    <img
                                                        id="image.system.emoji.luzkassulke"
                                                        src="https://cdn-dantats.stunning.kr/static/emoji/Artist70px.png"
                                                        class="achievement-img-inner"
                                                    />
                                                </div>
                                                <div class="achievement-count">
                                                    <div
                                                        class="achievement-value"
                                                    >
                                                        80%
                                                    </div>
                                                </div>
                                                <div class="achievement-desc">
                                                    일반 회원 비율
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="video-section">
                                    <div class="bg-img"></div>
                                    <video autoplay loop playsinline>
                                        <source
                                            src="https://cdn-dantats.stunning.kr/static/event/service/video-section3.mp4"
                                            type="video/mp4"
                                        />
                                    </video>
                                    <div class="content-text">
                                        <span
                                            >국내 최초
                                            <p>혁신적인 후원 방식</p></span
                                        >
                                    </div>
                                </section>
                                <section class="introduction-section">
                                    <h2 class="sub-title-container">
                                        <span class="sub-title"
                                            ><span class="sub-title-inner"
                                                >내 상황에 맞는 봉사로</span
                                            >
                                            <p>항상 최고의 도움을</p>
                                            받을 수 있습니다</span
                                        >
                                    </h2>
                                    <div class="bg-img">
                                        <img
                                            id="image.event.loudservice.emanuelhintz"
                                            src="/images/introduction_template.png"
                                            class="sc-llJcti hkAQYM"
                                        />
                                    </div>
                                </section>
                                <!-- <div class="introduction-tabs">
                                    <div class="tab">기부</div>
                                    <div class="tab active">후원</div>
                                </div>
                                <div class="donation-introduction">
                                    <section class=""></section>
                                    <section class=""></section>
                                </div>
                                <div class="support-introduction">
                                    <section class=""></section>
                                    <section class=""></section>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/introduction/introduction.js"></script>
</html>
