@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.876e22b0.woff2)
            format("woff2"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.e17e49fe.woff)
            format("woff"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.9645d39e.otf)
            format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.c6c0fe2b.woff2)
            format("woff2"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.2216ab02.woff)
            format("woff"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.11fc9454.otf)
            format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.12541844.woff2)
            format("woff2"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.fd82943b.woff)
            format("woff"),
        url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.c817dbf1.otf)
            format("opentype");
    font-display: swap;
}

body {
    line-height: 1.3;
    word-break: keep-all;
    color: #343a40;
    font-family: pretendard, -apple-system, blinkmacsystemfont, system-ui,
        roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
}
*,
:after,
:before {
    box-sizing: border-box;
}
#root,
body {
    height: 100%;
    overflow: auto;
}

#root,
body,
html {
    margin: 0;
    padding: 0;
}

.AppLayout_container-2g11i {
    overflow-y: auto;
    position: relative;
}

/* 헤더 */
a,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
.AppGNBbar_container-3aaiG {
    height: 72px;
}
.AppGNBbar_container-3aaiG {
    box-shadow: 0 1px 0 0 rgba(10, 22, 70, 0.06);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
}

.StudioLogo_container-2u4Eb {
    padding: 0;
    display: flex;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
}
button {
    color: inherit;
}
button,
input,
span,
textarea {
    font-family: inherit;
}
button {
    background-color: transparent;
}
a,
button {
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.StudioLogo_logo-pXI-Y {
    background-image: url(https://static.wadiz.kr/studio/funding/static/media/wadiz-studio-logo.db1cb560.svg);
    width: 190px;
    height: 21px;
    display: block;
    margin-right: 8px;
    margin-bottom: 4px;
    outline: 0;
    background-size: cover;
}
.StudioLogo_type-2Sksn {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 8px;
    color: #868e96;
}

.StudioStatus_stateBox-21QpO {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4px;
    gap: 4px;
}

.StudioStatus_stateBox-21QpO .StudioStatus_state-2OMTs {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.AppGNBbar_flex--H9Qf {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: flex-start;
}

.AppGNBbar_rightBox-we5_g {
    justify-content: flex-end;

    gap: 24px;
}

.ProjectInfo_container-3jAST {
    padding: 0;
    position: relative;
    margin-right: 0;
}

.ProjectInfo_infoButton-2bg95 {
    height: 37px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    padding: 0 16px;
    width: 100%;
    color: #868e96;
    gap: 4px;
}

.ProjectInfo_infoButton-2bg95 .ProjectInfo_emphasis-1i34c {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.ProjectInfo_infoButton-2bg95 .ProjectInfo_text-3evR- {
    margin-left: 12px;
    color: #495057;
}

.ProjectInfo_infoButton-2bg95[aria-expanded="true"] [class*="withIcon_icon"] {
    transform: rotate(180deg);
}

.ProjectInfo_infoBox-2x8RL {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(33, 37, 41, 0.06),
        0 32px 40px -2px rgba(33, 37, 41, 0.12);
    background-color: #fff;
    width: 280px;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.BlindText_textHidden-1W0aB {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_content-1VmXE:first-of-type {
    margin-top: 0;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_content-1VmXE {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_profileImage-1PLV0 {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background-color: #fff;
    width: 24px;
    height: 24px;
}

.Avatar_avatar-1mOG5 {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
    vertical-align: middle;
}

.Avatar_avatar-1mOG5 > .Avatar_inner-hN779 {
    display: inline-block;
    border: 1px solid #e9ecef;
    border-radius: 100%;
}

.Avatar_avatar-1mOG5 > .Avatar_inner-hN779 > img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
}

img,
video {
    max-width: 100%;
    height: auto;
}

iframe,
img,
video {
    vertical-align: top;
}

.ProjectInfo_infoBox-2x8RL .ProjectInfo_makerName-KIDrd {
    font-weight: 700;
    overflow-wrap: anywhere;
}

.BlindText_textHidden-1W0aB {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ProjectInfo_stateBox-705_4 {
    flex-wrap: wrap;
}

.ProjectInfo_stateBox-705_4 .ProjectInfo_state-1Aqkt {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.Button_button-35X6_.Button_primary-1vdas.Button_contained-1XlJQ {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_button-35X6_.Button_sm-3vobZ {
    padding: 6px 11px;
    height: 32px;
    font-size: 14px;
}

.Button_button-35X6_.Button_block-3y0pW {
    width: 100%;
}

.Button_button-35X6_ {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}

.Button_button-35X6_ span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button-35X6_.Button_sm-3vobZ svg.Button_icon-2I54k:first-child {
    margin-right: 4px;
}

.Button_button-35X6_.Button_sm-3vobZ svg.Button_icon-2I54k {
    width: 16px;
    height: 16px;
}

.Button_button-35X6_ span svg {
    display: inline-block;
}

.Button_button-35X6_ .Button_children-1TD4r {
    vertical-align: top;
}

.AnnouncementButton_container-1p1gr {
    display: flex;
    position: relative;
    transition: background-color 0.3s;
    border-radius: 8px;
    cursor: pointer;
}

.AnnouncementButton_icon-29AtY {
    padding: 4px;
}

.AnnouncementButton_badge-2Jq25 {
    position: absolute;
    top: 0;
    right: 0;
}
.Badge_container-3exWO {
    flex-shrink: 0;
    vertical-align: middle;
}

.PreviewExitButtons_container-1R35v {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"]:first-child {
    border-radius: 4px 0 0 4px;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    border-color: #e9ecef;
    padding: 8px 24px;
    height: auto;
    color: #495057;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"]:last-child {
    border-radius: 0 4px 4px 0;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"]
    ~ .PreviewExitButtons_button-2tixf {
    margin-left: -1px;
    border-left: 1px solid #e9ecef;
}

.PreviewExitButtons_container-1R35v
    .PreviewExitButtons_button-2tixf[class*="Button_button"] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    border-radius: 0;
    border-color: #e9ecef;
    padding: 8px 24px;
    height: auto;
    color: #495057;
}

/* 사이드 바 */
.AppLayout_container-2g11i .AppLayout_main-3h4EB {
    display: flex;
    padding-top: 72px;
    height: 100%;
}

.AppNavbarLayout_container-1zFQR.AppNavbarLayout_expand-12bTj {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 240px;
}

.AppNavbarLayout_container-1zFQR {
    position: relative;
    transform: none;
    transition: width 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    width: 0;
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.AppNavbarLayout_content-2agCV {
    padding-bottom: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.MenuItems_section-qApp6 {
    padding: 0;
}

.MenuItems_menu-QgJck.MenuItems_hasSubmenu-1EhTS {
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.MenuItems_menu-QgJck {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
}

.MenuItems_menu-QgJck .MenuItems_label-2ceJf {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #495057;
    gap: 12px;
}

.MenuItems_active-tDqWg .MenuItems_label-2ceJf {
    color: #212529;
    font-weight: 700;
}

.MenuItems_menu-QgJck .MenuItems_label-2ceJf svg {
    width: 16px;
    height: 16px;
}

.withIcon_icon-2IQiS {
    display: block;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    fill: currentColor;
}

.MenuItems_menu-QgJck.MenuItems_hasSubmenu-1EhTS
    .MenuItems_downIcon-2GVY9.MenuItems_open-2VtAS {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.MenuItems_menu-QgJck.MenuItems_hasSubmenu-1EhTS .MenuItems_downIcon-2GVY9 {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -8px;
    color: #adb5bd;
}

.MenuItems_submenuContainer-3sALs.MenuItems_show-1ldUA {
    max-height: 400px;
}

.MenuItems_submenuContainer-3sALs {
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow-y: hidden;
}

.MenuItems_submenuContainer-3sALs .MenuItems_submenu-3RDKb:hover {
    background-color: #f2f4f6;
}

.MenuItems_submenuContainer-3sALs .MenuItems_submenu-3RDKb {
    display: block;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 12px 16px 12px 44px;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

/* 사이드바 사라졌을 때 */
.AppNavbarLayout_divider-KAkAr {
    background-color: #fff;
    min-width: 28px;
}

.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd {
    display: flex;
    position: fixed;
    top: 92px;
    left: 12px;
    align-items: center;
    justify-content: center;
    transition: left 0.2s;
    border: 0.75px solid #e9ecef;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1019607843);
}

.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd
    .AppLayout_icon-1_YzF {
    background: url(https://static.wadiz.kr/studio/funding/static/media/icon-expand-more.21864999.svg)
        no-repeat 50%;
    background-size: 12px 12px;
    pointer-events: none;
    width: 12px;
    height: 12px;
}

/* 사이드바 열렸을 때 버튼 */
.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd.AppLayout_expand-3TNUI {
    left: 224px;
}
.AppLayout_container-2g11i
    .AppLayout_main-3h4EB
    .AppLayout_expandNavButton-2AQMd.AppLayout_expand-3TNUI
    .AppLayout_icon-1_YzF {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* modal 창 */
/* Modal Background */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}
.modal .dim {
    display: block;
}
.dim {
    display: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
}

/* Enter Modal Content */
.enterModal_content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    height: 200px;
}
.enterModal_content p {
    font-size: 20px;
    color: #343a40;
    font-weight: 700;
}
.enterModal_content.vibration {
    animation: vibration 0.1s infinite;
}

/* enter Container */
.enter-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.enter-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.enter-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}
.enter-input.vibration {
    border-color: #ff002f; /* 빨간색 테두리 */
    box-shadow: 0 0 5px rgba(255, 0, 47, 0.3); /* 빨간색 그림자 */
    outline: none;
    animation: vibration 0.1s infinite;
}
@keyframes vibration {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(-1deg);
    }
}

/* modal Enter Verify Button */
.enterVerify_btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.enterVerify_btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.enterVerify_btn:active {
    background-color: #004080;
}

/* Content Styles */
.content {
    display: none; /* Hide content initially until authenticated */
    text-align: center;
    margin: 20px;
}

/* modal 창 */
@keyframes popUp {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes popDown {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}
