<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/error/404.css" />
        <link
            rel="icon"
            type="image/x-icon"
            href="https://help.loud.kr/hc/theming_assets/01HZKZ8AQBQ1J8FF87ZDE3CGX0"
        />
        <title>404</title>
    </head>
    <body>
        <div id="root">
            <div
                style="
                    position: fixed;
                    z-index: 9999;
                    inset: 16px;
                    pointer-events: none;
                "
            ></div>
            <div id="app">
                <div class="main-container">
                    <nav class="no-work"></nav>
                    <header class="no-work"></header>
                    <div class="main">
                        <section class="error-wrap">
                            <div class="error-container">
                                <div class="error-icon">
                                    <img
                                        src="https://cdn-dantats.stunning.kr/static/common/ico-unplug.png"
                                    />
                                </div>
                                <div class="error-title">
                                    요청하신 페이지를 찾을 수 없습니다.
                                </div>
                                <div class="error-description">
                                    <!-- 방문하시려는 페이지의 주소가 잘못
                                    입력되었거나, <br />페이지의 주소가 변경
                                    혹은 삭제되어 요청하신 페이지를 찾을 수
                                    없습니다. -->
                                </div>
                                <div class="go-home-button-container">
                                    <button class="go-home-button">
                                        <span class="go-home-button-inner">
                                            홈으로 가기
                                        </span>
                                    </button>
                                </div>
                                <div class="guide">
                                    궁금한게 있으시다면?
                                    <a
                                        href=""
                                        target="_blank"
                                        class="go-to-help"
                                        >고객센터</a
                                    >로 문의해주세요.
                                </div>
                            </div>
                        </section>
                        <footer class="no-work"></footer>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/error/404.js"></script>
</html>
