<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.back.mapper.profile.ProfileMapper">

    <insert id="insert" parameterType="profileVO">
        INSERT INTO tbl_profile (profile_file_name, profile_file_path, profile_file_size, profile_file_type, member_id)
        VALUES (#{profileFileName}, #{profileFilePath}, #{profileFileSize}, #{profileFileType}, #{memberId})
    </insert>

    <select id="selectById" parameterType="Long" resultType="profileVO">
        SELECT * FROM tbl_profile WHERE id = #{id}
    </select>

    <select id="selectByMemberId" parameterType="Long" resultType="profileVO">
        SELECT * FROM tbl_profile WHERE member_id = #{memberId}
    </select>

    <update id="update" parameterType="profileVO">
        UPDATE tbl_profile
        SET profile_file_name = #{profileFileName},
            profile_file_path = #{profileFilePath},
            profile_file_size = #{profileFileSize},
            profile_file_type = #{profileFileType}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM tbl_profile WHERE id = #{id}
    </delete>

    <select id="selectAll" resultType="com.app.back.domain.profile.ProfileVO">
        SELECT * FROM tbl_profile
    </select>
</mapper>